body{
   background-image: url(Imagens/imagem_formulario.jpg);
}

#demo-form{
    background-color: white;
    width: 500px; 
    height: 500px; 
    left: 48%; 
    margin: -130px 0 0 -210px; 
    padding:40px;
    position: absolute; 
    top: 35%; 
    border-radius: 50px;
    
}
